/* nav css start here */
nav {
    min-height:100px!important;
    background:white!important;
    border:none!important;
    -webkit-box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.4);
    }
nav .container{
    padding-top:15px!important;}
nav #navbar {
    border:none!important;
    padding: 15px 0;
    }
img .brand-logo{
    margin-left: 5%;
    position:absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.icon-bar {
    background-color:white!important;}
/* nav css ends here*/
